@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-orange {
  background-color: #f4ca36;
}

.bg-yellow {
  background-color: #f5d358;
}

.top-1 {
  top: 1rem;
}

.bg-red {
  background-color: #e16c40;
}
.text-link {
  color: #e16c40;
}
.w-70 {
  width: 20rem;
}
.rounded-xl {
  border-radius: 1rem;
}

.cardPhoto {
  width: 24rem;
  height: 17rem;
}

.photo {
  width: 22rem;
  height: 12rem;
  border-radius: 1rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
